/* Christy Eang */
body{
    background-image: linear-gradient(to right,#05000c ,#040438, #090968, #003B6F, #090968, #040438, #05000c);
    color: white;
    font-family: 'Nanum Myeongjo', serif;

}
.center{
    display: flex;
    justify-content: center;
}
.end{
    display: flex;
    justify-content: flex-end;
}
.home{
    color: rgb(255, 255, 255);
}
.home:hover{
    color: rgb(192, 192, 192);
}
.bottom{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: auto;
    height: auto;
    text-align: center;

}
.btnFront{
    border-radius: 0%;
    background-color: rgb(9, 0, 49);
    box-shadow: 0 4px 8px 0 rgba(121, 121, 121, 0.2), 0 6px 20px 0 rgba(151, 151, 151, 0.205);
    
}

.bigify{
    font-size: 60px;
}
.bigger{
    font-size: 80px;
    font-family: 'Do Hyeon', sans-serif;

}
.downMore{
    margin-top: 50px;
    margin-bottom: 100px;
}
.navBg{
    background-color: #4B3F72;
}
.fas{
    color: #119da4;
    border-radius: 50%;
    
}
.numbers{
    font-size: 60px;
    width: 100px;
    height: 100px;
    font-family: 'Do Hyeon', sans-serif;
}
